.navLink {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 1.4375rem;
  cursor: pointer;
  white-space: nowrap;
}

.menuArrow {
  margin-left: 2px;
  width: 1.25rem;
  height: auto;
  transition: all 0.5s;
}

.subList {
  position: absolute;
  top: 100%;
  left: 0.625rem;
  width: 17.375rem;
  padding: 0.9375rem 0 1.1875rem 0;
  background: #fff;
  box-shadow: 0 0.375rem 1.5rem 0 rgba(97, 115, 147, 0.12);
}

.activeLink {
  color: var(--desc-text-color3);
  font-weight: 700;
}

.sublink,
.activeLink {
  display: block;
  padding: 0.437rem 1.875rem;
}

.subItem,
.subItem .subLink {
  transition: all var(--transition);
}

.subItem:hover {
  color: var(--desc-text-color3);
  background-color: var(--submenu-bgr);
}
