.logInBtn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 7rem;
  height: 2.8125rem;
  font-family: var(--font-roboto);
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.btnImg {
  width: 1.5625rem;
  height: auto;
}
