:root {
  --max-width: 1440px;
  --wrap-max-width: 1362px;
  --display-color: rgba(255, 0, 0, 0.2);
  --bgr-color: #fff;
  --header-bgr: #f4f7fc;
  --main-bgr-color: #9daac0;
  --text-color: #000000;
  --text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --desc-text-color: #313131;
  --desc-text-color2: #737373;
  --menu-bottom-border: rgba(115, 115, 115, 0.2);
  --tags-border-color: #d5dce8;
  --submenu-bgr: #eef8ff;
  --submenu-shadow: 0px 6px 24px 0px rgba(97, 115, 147, 0.12);
  --desc-text-color3: #0097ff;
  --gray: rgba(115, 115, 115, 0.2);
  --transition: 0.15s;
  --swiper-theme-color: #9daac0 !important;
  --swiper-navigation-size: 24px !important;

  /* Новый цвета */

  --new-black: #080708;
  --new-blue: #3772ff;
  --new-red: #df2935;
  --new-yellow: #fdca40;
  --new-yellow-hover: #d4aa34;
  --new-white: #e6e8e6;
  --vk: #0277ff;
  --ok: #ff7700;
  --yt: #ff0e00;
  --tg: #2aa8ea;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 1.11111vw;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--font-roboto);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--new-white);
  background-color: var(--new-black);
  overflow-x: hidden;
}

header {
  position: fixed;
  width: 100vw;
  background-color: var(--new-yellow);
  z-index: 2;
}

main {
  padding-top: 7.0625rem;
  flex: 1;
  color: var(--new-white);
  background-color: var(--new-black);
}

/* section:nth-child(3) .swiper,
section:nth-child(4) .swiper,
section:nth-child(5) .swiper,
section:nth-child(6) .swiper,
section:nth-child(7) .swiper {
  position: relative;
  overflow-x: visible;
} */

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
}

@media (max-width: 425px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 1440px) {
  html {
    font-size: 16px;
  }
}
