.navDesktopWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2.25rem 0 2.6875rem;
}

.logoBox a {
  display: block;
  width: 2.5625rem;
  margin-right: auto;
}

.logoBox img {
  width: 100%;
  height: auto;
}

@media (max-width: 425px) {
  .navDesktopWrapper {
    display: none;
  }
}
